body {
    font-family: Montserrat;
}

h1 {
    font-family: Dancing Script;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    width: 40%;
    margin-top: 20px;
    margin-bottom: 12px;
}

input[type="text"] {
    width: 80%;
    font-size: 16px;
    font-family: Montserrat;
    padding: 4px;
}

input[type="submit"] {
    font-size: 16px;
    font-family: Montserrat;
    padding: 4px;
    margin-left: 8px;
}

ul {
    width: 70%;
    border: 1px dashed black;
    list-style: none;
    padding: 20px;
    min-height: 100vh;
}

.list-item-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

.list-item-button {
    margin-bottom: 2px;
    margin-right: 12px;
}

.list-item-text {
    width: 100%;
    display: block;
    border-bottom: 1px solid black;
}
